<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
<!--MathJax的配置脚本，用于临时简单的配置 -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    <!--输入Latex公式，以HTML和CSS的形式显示输出 -->
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      <!--$表示行内元素，$$表示块状元素 -->
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<!--加载MathJax的最新文件， async表示异步加载进来 -->
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js">
</script>

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="1" data-title="2016/05/09/caffe-implement.html" data-url="http://manutdzou.github.io/2016/05/09/caffe-implement.html"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"manutdzou"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->